<div class="panel" id="article-list">
	
	<% @topics.each do |topic| %>
		<div class="tag-like tag-link hide-button-property">
			<button type="button" data-toggle="collapse" data-target="#article-list-<%= topic.id %>"><%= icon "list-alt" %> <%= topic.title %></button>
		</div>
		<br>
		<!-- Collapsed Article List -->
		<div id="article-list-<%= topic.id %>" class="collapse">
			<ul class="side-nav">
				<li><%= link_to icon("eye-open") + " Browse All", user_topic_path(@user, topic) %></li>
				<% unless topic.articles.empty? %>
					<% topic.articles.each do |article| %>
						<li><%= link_to icon("file") + " " + article.title, user_topic_article_path(topic.user, topic, article) %></li>
					<% end %>
				<% else %>
					<li>No Articles Left : (</li>
				<% end %>
			</ul>
		</div>
	<% end %>

</div>
