<div class="gap-small" id="top"></div>

<div class="row">
	<div class="col-md-offset-2 col-md-2">
		<h3><%= icon "apple" %> My Articles</h3>
	</div>
		<!-- Manipulation -->
	<div class="col-md-6">
		<span class="tag-like tag-like-red tag-link pull-right">
			<%= link_to icon("remove") + " Delete", user_topic_article_path(@user, @topic, @article), method: :delete, data: { confirm: "Are you sure to delete this article?" } %>
		</span>
		<span class="tag-like tag-link tag-like-yellow pull-right">
			<%= link_to icon("pencil") + " Edit", edit_user_topic_article_path(@user, @topic, @article) %>
		</span>
		<span class="tag-like tag-link pull-right">
			<%= link_to icon("chevron-left") + " Back", :back %>
		</span>
	</div>
</div>

<hr class="col-md-offset-1 col-md-10">

<!-- Article Title -->
<div class="row">
	<div class="col-md-offset-2 col-md-8" style="text-align: center;">
		<h2><%= @article.title %></h2>
	</div>
</div>

<hr class="col-md-offset-1 col-md-10">

<!-- Article Presence -->
<div class="row">
	<div class="col-md-offset-2 col-md-8 article-full-presence">
		<%= @article.content.html_safe %>
	</div>
</div>

<hr class="col-md-offset-1 col-md-10">

<!-- Recommended Articles -->
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h3><%= icon "list" %> Recommended Articles in the Same Category</h3>
		<h4>Website Building</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<span class="tag-like tag-link pull-right">
			<a href="#top">Back to Top</a>
		</span>
	</div>
</div>

<div class="gap-large"></div>