<span class="tag-like tag-link tag-like-green pull-right <%= "highlight-green" if @highlight_token == "All Articles" %>">
	<%= link_to icon("eye-open") + " Browse All Articles", user_topics_path(@user) %>
</span>

<span class="tag-like tag-like-yellow tag-link pull-right">
	<%= link_to icon("plus") + " Add New Article Category", "#", :id => "new-topic-ajax-link" %>
</span>

<% unless @highlight_token.nil? || @highlight_token == "All Articles" %>
	<span class="tag-like tag-like-yellow tag-link pull-right">
		<%= link_to icon("plus") + " Compose New Article", new_user_topic_article_path(@user, @topic) %>
	</span>
<% end %>

<span class="tag-like tag-like-yellow tag-link pull-right">
	<%= link_to icon("wrench") + " Setting", "#", :id => "topic-list-ajax-link" %>
</span>