<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h4><%= icon "list" %> Article Categories</h4>
		<!-- Render Topics -->
		<span class="tag-like tag-link tag-like-green <%= "highlight-green" if @highlight_token == "All Articles" %>">
			<%= link_to icon("eye-open") + " Browse All Articles", topics_path %>
		</span>

		<%= render @topics %>
		<div style="display: inline-block;"><div id="topic-append" style="display: none;"></div></div>

		<span class="tag-like tag-like-yellow tag-link">
			<%= link_to icon("plus") + " Add New Article Category", "#", :id => "new-topic-ajax-link" %>
		</span>

		<% unless @highlight_token.nil? || @highlight_token == "All Articles" %>
			<span class="tag-like tag-like-yellow tag-link">
				<%= link_to icon("plus") + " Compose New Article", new_topic_article_path(@topic) %>
			</span>
		<% end %>

		<span class="tag-like tag-like-yellow tag-link">
			<%= link_to icon("wrench") + " Setting", "#", :id => "topic-list-ajax-link" %>
		</span>
	</div>
</div>