<div class="gap-small"></div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h3><%= icon "apple" %> My Articles</h3>
	</div>
</div>

<hr class="col-md-offset-1 col-md-10">

<!-- Article Topics' Tags -->
<%= render 'topics/topic_tags_group' %>

<div class="row">
	<div class="col-md-offset-1 col-md-10">

		<div class="row">
			<div class="col-md-4">
				<!-- New Topic AJAX Form -->
				<%= render 'topics/new_topic_ajax_form' %>
			</div>

			<div class="col-md-4">
				<!-- Topic List -->
				<%= render 'topics/topics_ajax' %>
			</div>
		</div>

	</div>
</div>

<hr class="col-md-offset-1 col-md-10">

<!-- Articles Section -->
<%= render 'articles/topic_articles_section' %>