<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h4><%= icon "list" %> Photo Albums</h4>
		<!-- Render Photo Albums -->
		<span class="tag-like tag-link tag-like-green <%= "highlight-green" if @photo_highlight_token == "All Photos" %>">
			<%= link_to icon("eye-open") + " Browse All Photos", photo_albums_path %>
		</span>

		<%= render @photo_albums %><div style="display: inline-block;"><div id="photo-album-append" ></div></div>

		<!-- New Photo Album Modal Link -->
		<span class="tag-like tag-like-yellow tag-link hide-button-property">
			<button type="button" data-toggle="modal" data-target="#new-photo-album-modal"> <%= icon "plus" %>	Add New Photo Album</button>
		</span>

		<% unless @photo_highlight_token == "All Photos" || @photo_highlight_token.nil? %>
			<span class="tag-like tag-like-yellow tag-link hide-button-property">
				<button type="button" data-toggle="modal" data-target="#new-photo-modal"> <%= icon "open-file" %> Upload New Photo </button>
			</span>
		<% end %>

		<span class="tag-like tag-like-yellow tag-link">
			<%= link_to icon("wrench") + " Setting", "#" %>
		</span>

	</div>
</div>

<!-- New Photo Album Modal -->
<%= render 'photo_albums/new_photo_album_modal' %>

<% unless @photo_highlight_token == "All Photos" || @photo_highlight_token.nil? %>
	<!-- New Photo Modal -->
	<%= render 'photos/new_photo_modal' %>
<% end %>