<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h4><%= icon "list" %> Photo Albums</h4>
		<!-- Render Photo Albums -->
		<span class="tag-like tag-link tag-like-green <%= "highlight-green" if @photo_highlight_token == "All Photos" %>">
			<%= link_to icon("eye-open") + " Browse All Photos", photo_albums_path %>
		</span>

		<%= render @photo_albums %>
		<div style="display: inline-block;"><div id="photo-album-append" style="display: none"></div></div>
		
		<!-- New Photo Album Modal Link -->
		<span class="tag-like tag-like-yellow tag-link hide-button-property">
			<button type="button" data-toggle="modal" data-target="#new-photo-album-modal"> <%= icon "plus" %>	Add New Photo Album</button>
		</span>

		<% unless @photo_highlight_token == "All Photos" || @photo_highlight_token.nil? %>
			<span class="tag-like tag-like-yellow tag-link">
				<%= link_to icon("open-file") + " Upload New Photo", "#", :id => "new-photo-link" %>
			</span>
		<% end %>

		<span class="tag-like tag-like-yellow tag-link">
			<%= link_to icon("wrench") + " Setting", "#" %>
		</span>

	</div>
</div>

<!-- New Photo Album Modal -->
<div class="modal fade" id="new-photo-album-modal" tabindex="-1" role="dialog" aria-labelledby="new-photo-album-form">
  <div class="modal-dialog" role="document">
  	<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="new-photo-album-form-title">Add New Photo Album</h4>
      </div>
      <div class="modal-body row">
        <div class="col-md-offset-1 col-md-10">
        	<%= simple_form_for @new_photo_album, remote: true do |f| %>
						<div class="form-group">
							<%= f.input :title, placeholder: "Photo Album Title", input_html: { :class => "photo-album-form-control" } %>
						</div>
						<div class="form-action">
							<%= f.submit "Submit", :class => "btn btn-default" %>
						</div>
	        <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>