<div class="panel" id="photo-list">

	<% @photo_albums.each do |album| %>
		<div class="tag-like tag-link hide-button-property">
			<button type="button" data-toggle="collapse" data-target="#photo-list-<%= album.id %>"><%= icon "book" %> <%= album.title %></button>
		</div>
		<br>
		<!-- Collapsed Photo List -->
		<div id="photo-list-<%= album.id %>" class="collapse">
			<ul class="side-nav">
				<% album.photos.each do |photo| %>
					<li><%= link_to icon("picture") + " " + photo.title, "#", data: { toggle: "modal", target: "#view-photo-modal-#{photo.id}" } %></li>
				<% end %>		
			</ul>
		</div>
	<% end %>

	<% @photos.each do |photo| %>
		<!-- View Photo Modal -->
		<%= render 'photos/view_photo_modal', photo: photo %>
	<% end %>

</div>


