<% @photos.each do |photo| %>
	<div class="col-md-4">
		<div class="panel-heading">
			<h2><%= photo.title %></h2>
		</div>

		<div class="panel-heading topic-tag-heading">
			<%= link_to icon("tag") + " " + photo.photo_album.title, photo_album_path(photo.photo_album), :class => "topic-btn" %>
		</div>

		<div class="panel-body photo-presence"><%= image_tag photo.image.url %><br><%= truncate(photo.content, length: 500, ommission: "...(continue)", :escape => false) %></div>

		<div class="row"></div>

		<div class="panel-body">
		<%= link_to icon("remove") + " Remove", photo_album_photo_path(photo.photo_album, photo), method: :delete, data: { confirm: "Are you sure to delete this photo?" }, :class => "pull-right remove-btn" %>
		<%= link_to icon("pencil") + " Edit", edit_photo_album_photo_path(photo.photo_album, photo), :class => "pull-right edit-btn" %>
		<%= link_to icon("eye-open") + " Read More", photo_album_photo_path(photo.photo_album, photo), :class => "pull-right read-btn" %>
		</div>


	</div>
<% end %>