<div class="panel" id="photo-list">

	<% @photo_albums.each do |album| %>
		<div class="tag-like tag-link hide-button-property">
			<button type="button" data-toggle="collapse" data-target="#photo-list-<%= album.id %>"><%= icon "book" %> <%= album.title %></button>
		</div>
		<br>
		<!-- Collapsed Photo List -->
		<div id="photo-list-<%= album.id %>" class="collapse">
			<ul class="side-nav">
				<% if album.photos.empty? %>
					<li style="text-align: center;">No Photos : (</li>
					<% if @user == current_user %>
						<li><%= link_to icon('upload') + " " + "Upload New Photo!", "#", data: { toggle: "modal", target: "#new-photo-modal-#{album.id}" } %></li>
					<% end %>
				<% else %>
					<% album.photos.each do |photo| %>
						<li><%= link_to icon("picture") + " " + photo.title, "#", data: { toggle: "modal", target: "#view-photo-modal-#{photo.id}" } %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div id="photo-album-append"></div>

	<% if @user == current_user %>

		<% @photo_albums.each do |album| %>
			<!-- New Photo Modal (with id) -->
		
		<% end %>

		<% @photos.each do |photo| %>
			<!-- View Photo Modal -->
			<%= render 'photos/view_photo_modal', photo: photo %>
		<% end %>

	<% end %>

</div>


