<!-- 
<div class="row">
	<div class="col-md-offset-2 col-md-8">
 -->
		<%= simple_form_for [photo_album, photo], remote: true do |f| %>
			<div class="form-group">
				<%= f.input :title, placeholder: "Photo Title", input_html: { :class => "photo-form-control" } %>
				<%= f.input :content, placeholder: "Content about your photo...", input_html: { :class => "photo-form-control" } %>
				<%= f.input :image, as: :file, input_html: { :class => "photo-form-control" } %>
			</div>

			<div class="form-action">
				<%= f.submit "Submit", :class => "btn btn-default" %>
			</div>
		<% end %>
<!--
 	</div>
</div>
 -->