<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<%= simple_form_for [@photo_album, @photo] do |f| %>
			<div class="form-group">
				<%= f.input :title, placeholder: "Photo Title", autofocus: true, input_html: { :class => "form-control" } %>
				<%= f.input :content, placeholder: "Content about your photo...", input_html: { :class => "form-control" } %>
				<%= f.input :image, as: :file, input_html: { :class => "form-control" } %>
			</div>

			<div class="form-action">
				<%= f.submit "Submit" %>
			</div>
		<% end %>
	</div>
</div>