<div class="gap-large"></div>

<div class="row">
	<div class="col-md-12" style="text-align: center;">
		<% if @user.avatar.nil? %>
			<%= image_tag "default_avatar.png", :class => "img-circle", :style => "max-width: 20%" %>
		<% else %>
			<%= image_tag @user.avatar.url(:thumb), :class => "img-circle", :style => "max-width: 20%; height: auto" %>
		<% end %>

		<div class="gap-small"></div>
		<h4>Hello ! I'm <%= @user.name %> !</h4>
	</div>
</div>

<hr class="col-md-offset-2 col-md-8">

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div style="text-align: center;">
			<span class="tag-like tag-link hide-button-property">
				<button type="button" data-toggle="collapse" data-target="#user-self-intro"><%=  icon("user") + " About Me" %></button>
			</span>
			<span class="tag-like tag-link hide-button-property">
				<button type="button" data-toggle="collapse" data-target="#user-interests"><%=  icon("heart") + " My Interest" %></button>
			</span>
			<span class="tag-like tag-link hide-button-property">
				<button type="button" data-toggle="collapse" data-target="#user-skills"><%=  icon("tasks") + " My Skills" %></button>
			</span>
			<span class="tag-like tag-link hide-button-property">
				<button type="button" data-toggle="collapse" data-target="#user-contact"><%=  icon("phone") + " Contact Me!" %></button>
			</span>
			<% if @user == current_user %>
				<span class="tag-like tag-link">
					<%= link_to icon("pencil") + " Edit Info", edit_user_registration_path %>
				</span>
			<% end %>
		</div>
	</div>
</div>

<hr class="col-md-offset-2 col-md-8">

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<!-- Collapse User Self Intro -->
		<%= render 'users/user_self_intro' %>

		<!-- Collapse User Interests -->
		<%= render 'users/user_interests' %>

		<!-- Collapse User Skills -->
		<%= render 'users/user_skills' %>

		<!-- Collapse User Contact -->
		<%= render 'users/user_contact' %>
	</div>
</div>

<div class="gap-small"></div>