<div class="gap-small"></div>

<div id="user-article-bookmark"></div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<h3 class="inline-display"><%= icon "apple" %> My Articles</h3>
	
		<!-- Article Function Links -->
		<%= render 'topics/article_function_links' %>
		
	</div>
</div>

<hr class="col-md-offset-1 col-md-10">

<!-- Article Presence Section -->
<div class="row">
	<div class="col-md-offset-1 col-md-10">
		
		<div class="row">
			
			<!-- Article List -->
			<div class="col-md-3" id="article-list">
				<h4><%= icon "list" %> Article List</h4>
				<br>
				<% unless @topics.empty? %>
					<%= render 'articles/article_list' %>
				<% end %>
			</div>

			<!-- Latest Article -->
			<div class="col-md-9" id="latest-article">
				<h4><%= icon "file" %> Latest Articles</h4>				
				<br>
				<% unless @articles.empty? %>
					<%= render @article_sample %>
					<div class="row">
						<div class="col-md-12" style="text-align: center;">
							<span class="tag-like tag-like-green tag-link">
								<%= link_to icon("eye-open") + " Browse My Articles", user_topics_path(@user) %>
							</span>
						</div>
					</div>
				<% else %>
					<div class="row">
						<div class="col-md-12" style="text-align: center;">
							<h4>Currently there are no articles : (</h4>
						</div>
					</div>
				<% end %>
			</div>

		</div>
	
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<span class="tag-like tag-link pull-right">
			<a href="#top">Back to Top</a>
		</span>
	</div>
</div>

<hr class="col-md-offset-1 col-md-10">

<div class="gap-large"></div>