<div class="gap-small"></div>

<p>User Avatar</p>
<p>User Avatar</p>
<p>User Avatar</p>
<p>User Avatar</p>
<p>User Avatar</p>
<p>User Avatar</p>
<p>User Avatar</p>

<hr class="col-md-offset-2 col-md-8">

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div style="text-align: center;">
			<span class="tag-like tag-link">
				<%= link_to icon("user") + " About Me", "#", data: { toggle: "collapse", target: "#user-self-intro" } %>
			</span>
			<span class="tag-like tag-link">
				<%= link_to icon("heart") + " My Interest", "#", data: { toggle: "collapse", target: "#user-interests" } %>
			</span>
			<span class="tag-like tag-link">
				<%= link_to icon("tasks") + " My Skills", "#", data: { toggle: "collapse", target: "#user-skills" } %>
			</span>
			<span class="tag-like tag-link">
				<%= link_to icon("phone") + "Contact Me!", "#", data: { toggle: "collapse", target: "#user-contact" } %>
			</span>
		</div>
	</div>
</div>

<hr class="col-md-offset-2 col-md-8">

<div class="row">
	<!-- Collapse User Self Intro -->
	<%= render 'users/user_self_intro' %>

	<!-- Collapse User Interests -->
	<%= render 'users/user_interests' %>

	<!-- Collapse User Skills -->
	<%= render 'users/user_skills' %>

	<!-- Collapse User Contact -->
	<%= render 'users/user_contact' %>
</div>