<!DOCTYPE html>
<html>
<head>
  <title>RailsSocialBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Main Navigation -->
<div class="jumbotron welcome-jumbotron">
	<%= render 'common/navbar' %>
</div>
<%= yield %>

<div class="gap-large"></div>

<%= render 'common/footer' %>

</body>
</html>
