<!DOCTYPE html>
<html>
<head>
  <title>RailsSocialBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Main Navigation -->
<div class="jumbotron welcome-jumbotron">
	<%= render 'common/navbar' %>
</div>

<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<% if notice %>
		  <p class="alert"><%= icon("ok") %> <%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert"><%= icon("warning-sign") %> <%= alert %></p>
		<% end %>
	</div>
</div>

<%= yield %>

<div class="gap-large"></div>

<%= render 'common/footer' %>

</body>
</html>
